[submodule "glew-cmake"]
	path = submodules/glew
	url = https://github.com/Perlmint/glew-cmake
	branch = glew-cmake-release
[submodule "glm"]
	path = submodules/glm
	url = https://github.com/g-truc/glm
[submodule "glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw
[submodule "tinyobjloader"]
	path = submodules/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "GLSL-Shader-Includes"]
	path = submodules/GLSL-Shader-Includes
	url = https://github.com/tntmeijs/GLSL-Shader-Includes
[submodule "imgui"]
	path = submodules/imgui
	url = https://github.com/ocornut/imgui
